.NewMessageForm {
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 0 rgba(120, 120, 120, 0.75);
}

.NewMessageForm .FormRow {
  margin: 10px 0;
}

.NewMessageForm label span {
  font-size: 15px;
  width: 80px;
  display: inline-block;
}

.NewMessageForm input:not([type="file"]) {
  width: calc(100% - 80px);
  padding: 4px;
  font-size: 14px;
  border: 1px solid #777;
  border-radius: 4px;
  box-shadow: 0 0 1px 1px rgba(120, 120, 120, 0.35);
}

.NewMessageForm .FormRow.Buttons{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.NewMessageForm .Btn {
  margin: 0 10px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  background: transparent;
  border: none;
  outline: none;
}

.NewMessageForm .SubmitBtn {
  color: green;
}

.NewMessageForm .CancelBtn {
  color: red;
}