.MessageBox {
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  background: #fff;
  border: 1px solid #999;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 0 rgba(120, 120, 120, 0.75);
  overflow: hidden;
}

.MessageBox .PostImage {
  float: left;
  width: 120px;
  margin-right: 20px;
  border-radius: 4px;
  overflow: hidden;
}

.MessageBox .PostImage img {
  width: 100%;
  height: auto;
}

.MessageBox .PostData {
  width: calc(100% - 140px);
  float: left;
}

.MessageBox .PostData.Wide {
  width: 100%;
}

.MessageBox .PostHead {
  width: 100%;
  margin-bottom: 10px;
  padding: 0 20px 5px;
  border-bottom: 1px solid #aaa;
}

.MessageBox .PostAuthor {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

.MessageBox .PostDatetime {
  font-size: 14px;
  color: #555;
}

.MessageBox .PostMessage {
  font-style: italic;
}